<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title%></title>
    <%- include('partials/head.html') %>
  </head>
  <body>
    <!-- NAVBAR -->
    <%- include('partials/navigation.html') %>
    <!-- HERO -->
    <%- include('partials/hero.html') %>
    <!-- ABOUT ME -->
    <%- include('partials/aboutMe.html') %>
    <!-- PROJECTS -->
    <%- include('partials/projects.html') %>
    <!-- CONTACT FORM -->
    <%- include('partials/contactForm.html') %>    
    <!-- FOOTER -->
    <%- include('partials/footer.html') %>
  </body>
</html>
