<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title%></title>
    <%- include('partials/head.html') %>
  </head>
  <body>
    <%- include('partials/navigation.html') %>

    <div class="container-fluid hero-image">
      <!--
        <div class="hero-text">
            <h1>Hola, soy MiaFate</h1>
            <p>y soy programadora</p>
            <button>Mis PRoyectos</button>
          </div>
          
        <div class="icono">
              <img src="/src/img/FB_IMG_1523895334486.jpg" alt="">
        </div>
      -->

      <div class="row mt-5 align-items-center justify-content-around text-center">
        <div class="col-sm-4 tarjeta">
          <p class="h1 circulo animate__animated animate__heartBeat" id="bienvenide">
            Hola!
          </p>
          <p class="h2 circulo animate__animated animate__pulse">
            Soy <big>Mia Ramos</big>, Developer
          </p>

          <a
            href="https://github.com/MiaFate"
            target="_blank"
            class="btn btn-info btn-outline-warning col-sm-6 lead botProyectos mt-5"
            onclick="this.blur()"
            role="button"
            >GitHub</a
          >
        </div>
        <div class="col-sm-4 tarjeta circulo">
          <img
            class="
              img-fluid
              rounded-circle
              d-block
              animate__animated animate__bounce
            "
            src="./img/hello_world2.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!--
    <div class="fill">
      <p>L</p>
    </div>
    -->
    <!--LOGOS-->
    <div id="about" class="px-2 mt-2 pb-5 pt-5 bg-info">
      <div class="container">
        <div class="row text-center text-shadow">
          <h2 class="pt-5">Sobre Mi</h2>
          <p class="h5"  >Trabaje un año y medio con el lenguaje ABAP de SAP <br>
          estudie hasta tercer año de la carrera Ingenieria en sistemas en la Universidad Abierta Interamericana <br>
          alli aprendi programacion estructurada con el lenguaje C, POO con C# y base de datos relacionales por medio de SQL</p>
          
          
          <h2 class="pt-5">Skills</h2>
          <p class="h5 text-pink">
            Actualmente estoy estudiando las siguientes tecnologías de manera autodidacta:
          </p>
        </div>

        <div class="row pt-3 justify-content-evenly align-items-center">
          <div class="col-2 py-2 lenguaje">
            <img
              src="./img/file_type_html_icon_130541.png"
              class="img-fluid"
              alt=""
            />
            <div class="text-center d-none d-sm-block">
              <span class="lenguaje-nombre h5">HTML</span>
            </div>
          </div>
          <div class="col-2 py-2 lenguaje">
            <img
              src="./img/file_type_css_icon_130661.png"
              class="img-fluid"
              alt=""
            />
            <div class="text-center d-none d-sm-block">
              <span class="lenguaje-nombre h5">CSS</span>
            </div>
          </div>
          <div class="col-2 py-2 lenguaje">
            <img
              src="./img/nodejs_plain_logo_icon_146409.png"
              class="img-fluid"
              alt=""
            />
            <div class="text-center d-none d-sm-block">
              <span class="lenguaje-nombre h5">NodeJS</span>
            </div>
          </div>
          <div class="col-2 py-2 lenguaje">
            <img
              src="./img/javascript_original_logo_icon_146455.png"
              class="img-fluid"
              alt=""
            />
            <div class="text-center d-none d-sm-block">
              <span class="lenguaje-nombre h5">JavaScript</span>
            </div>
          </div>
          <div class="col-2 py-2 lenguaje">
            <img
              src="./img/bootstrap_plain_logo_icon_146619.png"
              class="img-fluid"
              alt=""
            />
            <div class="text-center d-none d-sm-block">
              <span class="lenguaje-nombre h5">Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/projects.html') %>

    <!--
    <section class="skills text-center" >
      <div class="container">
        <h1>Sobre mi</h1>
        <p>Actualmente estoy estudiando las siguientes tecnologías</p>
        <h1>Skills</h1>

        <div class="row row-cols-5 justify-content-center">
  
          <div class="col-sm">
            <div class="card border-light">
              <div class="card-body col-sm">
                <img src="./img/file_type_html_icon_130541.png" class="img-fluid " alt="">
                <h5>html</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-body col-sm">
                <img src="./img/file_type_css_icon_130661.png" class="img-fluid " alt="">
                <h5>css</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-body col-sm">
                <img src="./img/nodejs_plain_logo_icon_146409.png" class="img-fluid " alt="">
                <h5>nodejs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-body col-sm">
                <img src="./img/javascript_original_logo_icon_146455.png" class="img-fluid " alt="">
                <div class="h5">JavaScript</div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <div class="card-body col-sm">
                <img src="./img/bootstrap_plain_logo_icon_146619.png" class="img-fluid " alt="">
                <h5>bootstrap</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    -->

    <%- include('partials/footer.html') %>
  </body>
</html>
