/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&family=Roboto+Mono:wght@500&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"); /*
 The hero image */
body,
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0 !important;
  margin: 0 !important;

  background: #ffd078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd078,
    #ff7895
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd078,
    #ff7895
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  color: rgb(68, 18, 78);
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}
/* NAVBAR */
.navbar{
  font-family: Helvetica, Arial, sans-serif;
}
/* HERO */
.hero-image {
  padding-top: 70px;
  height: 100vh;
}

.botProyectos {
  font-family: Helvetica;
  color: #ffc17e;
}

.tarjeta {
  padding-top: 2%;
}

.circulo {
  opacity: 0.9;
}
/* ABOUT */
#about {
  background: linear-gradient(to right, #ffd078, #ff7895);
}
.lenguaje {
  border-radius: 12px;
  border: 1px solid rgb(226, 226, 226);
  transition: all ease-out 0.2s;
  background: rgba(255, 255, 255, 0.2);
}
.lenguaje-nombre {
  font-size: calc(0.5rem + 0.5vw);
}
.lenguaje:hover {
  transform: scale(1.05);
}

/* PROJECTS */
.card {
  /* margin-top: 8%;
  margin-bottom: 8%; */

  background: rgba(255, 255, 255, 0.2);
}
.sec_projects {
  margin-bottom: -20px;
  /*  background-color: linear-gradient(to right, #ffd078, #ff7895); */
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23a25a67' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img {
  transform: scale(1.5);
}

/* FOOTER */

footer i {
  font-size: 1.5rem;
  /* padding-left: 4px;
  padding-right: 4px; */
}
footer p {
  line-height: 0;
  float: right;
  position: relative;
  top: 1.2rem;
  padding-right: 5px;
}
.social:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  transform: scale(1.1);
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
  Multicoloured Hover Variations
*/

#social-ln:hover {
  color: #0a66c2;
}

#social-dc:hover {
  color: #5662f6;
}

#social-gh:hover {
  color: #f0f6fc;
}

#social-ig:hover {
  color: #f39c12;
}
