    <!--LOGOS-->
    <div id="about" class="px-2 mt-2 pb-5 pt-5 bg-info">
        <div class="container">
          <div class="row text-center text-shadow">
            <h2 class="pt-5">Sobre Mi</h2>
            <p class="h5">
              Trabaje un año y medio con el lenguaje ABAP de SAP <br />
              estudie hasta tercer año de la carrera Ingenieria en sistemas en la
              Universidad Abierta Interamericana <br />
              alli aprendi programacion estructurada con el lenguaje C, POO con C#
              y base de datos relacionales por medio de SQL
            </p>
  
            <h2 class="pt-5">Skills</h2>
            <p class="h5 text-pink">
              Actualmente estoy estudiando las siguientes tecnologías de manera
              autodidacta:
            </p>
          </div>
  
          <div class="row pt-3 justify-content-evenly align-items-center">
            <div class="col-2 py-2 lenguaje">
              <img
                src="./img/file_type_html_icon_130541.png"
                class="img-fluid"
                alt=""
              />
              <div class="text-center d-none d-sm-block">
                <span class="lenguaje-nombre h5">HTML</span>
              </div>
            </div>
            <div class="col-2 py-2 lenguaje">
              <img
                src="./img/file_type_css_icon_130661.png"
                class="img-fluid"
                alt=""
              />
              <div class="text-center d-none d-sm-block">
                <span class="lenguaje-nombre h5">CSS</span>
              </div>
            </div>
            <div class="col-2 py-2 lenguaje">
              <img
                src="./img/nodejs_plain_logo_icon_146409.png"
                class="img-fluid"
                alt=""
              />
              <div class="text-center d-none d-sm-block">
                <span class="lenguaje-nombre h5">NodeJS</span>
              </div>
            </div>
            <div class="col-2 py-2 lenguaje">
              <img
                src="./img/javascript_original_logo_icon_146455.png"
                class="img-fluid"
                alt=""
              />
              <div class="text-center d-none d-sm-block">
                <span class="lenguaje-nombre h5">JavaScript</span>
              </div>
            </div>
            <div class="col-2 py-2 lenguaje">
              <img
                src="./img/bootstrap_plain_logo_icon_146619.png"
                class="img-fluid"
                alt=""
              />
              <div class="text-center d-none d-sm-block">
                <span class="lenguaje-nombre h5">Bootstrap</span>
              </div>
            </div>
          </div>
        </div>
      </div>