<div class="container col-md-8 mt-5 py-5" id="contact">
    <p class="h2 text-center pt-5">Contacto</p>
    <form action="https://formspree.io/f/mpzkdlgz" method="POST">
      <div class="mb-3">
        <label for="_replyto" class="form-label">Su casilla de e-mail</label>
        <input
          type="email"
          class="form-control"
          id="_replyto"
          name="email"
          placeholder="nombre@ejemplo.com"
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" name="message" placeholder="Mensaje de ejemplo" rows="5"></textarea>
      </div>
      <div class="button text-center">
        <button type="submit" class="btn btn-info">Enviar</button>
      </div>
      
    </form>
  </div>