<div class="container-fluid d-flex align-items-center justify-content-around hero-image" id="inicio">
    <div
      class="row mt-5 align-items-center justify-content-around text-center"
    >
      <div class="col-sm-4 tarjeta">
        <p
          class="h1 circulo animate__animated animate__heartBeat"
          
        >
          Hola!
        </p>
        <p class="h2 circulo animate__animated animate__pulse">
          Soy <big>Mia Ramos</big>, Developer
        </p>

        <a
          href="https://github.com/MiaFate"
          target="_blank"
          class="
            btn btn-info btn-outline-warning
            col-sm-6
            lead
            botProyectos
            mt-5
          "
          onclick="this.blur()"
          role="button"
          >GitHub</a
        >
      </div>
      <div class="col-sm-4 tarjeta circulo">
        <img
          class="
            img-fluid
            rounded-circle
            d-block
            animate__animated animate__bounce
          "
          src="./img/hello_world2.png"
          alt=""
        />
      </div>
    </div>
  </div>