<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Mia Ramos</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <i class="bi bi-house"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"
              ><i class="bi bi-person"></i> Sobre Mi</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects"
              ><i class="bi bi-folder"></i> Proyectos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">
              <i class="bi bi-chat-dots"></i> Contacto</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>