<section class="sec_projects" id="projects">
  <div class="container mt-2 pb-5 pt-5 mb-0  projects">
    <p><h2 class="text-center txt-railway pt-2 pb-5">Proyectos</h2></p>
    <div
      class="
        row row-cols-1 row-cols-md-2 row-cols-lg-3
        g-4
        justify-content-center
      "
    >
     
      <!--  -->
      <% for(var i = 0; i < projects.length;i++){ %>

        <div class="col">
          <div class="card shadow h-100">
            <div class="inner">
              <img
                src="<%= projects[i].imgUrl%>"
                class="card-img-top"
                height="300px"
                alt="..."
              />
            </div>
  
            <div class="card-body text-center justify-content-around">
              <h5 class="card-title"><%= projects[i].name%></h5>
              <p class="card-text"><%= projects[i].description%></p>
              
            </div>
            <div class="card-footer text-center">
              <a href="<%= projects[i].demo%>" class="btn btn-info col-sm-4">Demo</a>
              <a href="<%= projects[i].repo%>" class="btn btn-info col-sm-4">Repo</a>
            </div>
          </div>
        </div>
            
        <%}%>     
      
      <!--  -->
    </div>
  </div>
</section>
