<style>
  .card {
    margin-top: 8%;
    margin-bottom: 8%;
    background: rgba(255, 255, 255, 0.2);
  }
  .projects {
    margin-top: 8%;
  }
  .inner {
    overflow: hidden;
  }
  .inner img {
    transition: all 1.5s ease;
  }
  .inner:hover img {
    transform: scale(1.5);
  }
</style>

<section class="sec_projects" id="projects">
  <div class="container projects">
    <h2>Proyectos</h2>
    <div class="row justify-content-center">
      <div class="col-xm-12 col-sm-6 col-md-4">
        <div class="card shadow" style="width: 20rem">
          <div class="inner">
            <img
              src="https://github.com/MiaFate/proyecto-personal-node/blob/master/src/public/img/Discord-Logo-emblema.jpg?raw=true"
              class="card-img-top"
              alt="..."
            />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">Discord Bot</h5>
            <p class="card-text">Bot para discord.</p>
            <a href="#" class="btn btn-info col-md-7">Demo</a>
            <a href="#" class="btn btn-info col-md-7">Repo</a>
          </div>
        </div>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <div class="card shadow" style="width: 20rem">
          <div class="inner">
            <img
              src="https://github.com/MiaFate/proyecto-personal-node/blob/master/src/public/img/Discord-Logo-emblema.jpg?raw=true"
              class="card-img-top"
              alt="..."
            />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">Discord Bot</h5>
            <p class="card-text">Bot para discord.</p>
            <a href="#" class="btn btn-info col-md-7">Demo</a>
            <a href="#" class="btn btn-info col-md-7">Repo</a>
          </div>
        </div>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <div class="card shadow" style="width: 20rem">
          <div class="inner">
            <img
              src="https://github.com/MiaFate/proyecto-personal-node/blob/master/src/public/img/Discord-Logo-emblema.jpg?raw=true"
              class="card-img-top"
              alt="..."
            />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">Discord Bot</h5>
            <p class="card-text">Bot para discord.</p>
            <a href="#" class="btn btn-info col-md-7">Demo</a>
            <a href="#" class="btn btn-info col-md-7">Repo</a>
          </div>
        </div>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <div class="card shadow" style="width: 20rem">
          <div class="inner">
            <img
              src="https://github.com/MiaFate/proyecto-personal-node/blob/master/src/public/img/Discord-Logo-emblema.jpg?raw=true"
              class="card-img-top"
              alt="..."
            />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">Discord Bot</h5>
            <p class="card-text">Bot para discord.</p>
            <a href="#" class="btn btn-info col-md-7">Demo</a>
            <a href="#" class="btn btn-info col-md-7">Repo</a>
          </div>
        </div>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <div class="card shadow" style="width: 18rem">
          <div class="inner">
            <img
              src="https://github.com/MiaFate/proyecto-personal-node/blob/master/src/public/img/Discord-Logo-emblema.jpg?raw=true"
              class="card-img-top"
              alt="..."
            />
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">Discord Bot</h5>
            <p class="card-text">Bot para discord.</p>
            <a href="#" class="btn btn-info col-md-7">Demo</a>
            <a href="#" class="btn btn-info col-md-7">Repo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
